.calendar {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}

/******Calendar-board******************/

.calendar-board {
    background-color:#fff;
    height: 100vh;
    width: 100%;
    flex-basis: 80%;
}

.empty_cell,
.day,
.week_days {
    text-align: center;
    padding: 0;
    color: rgb(82, 79, 79);
}

.day,
.week_days {
    font-size: 0.8em;
}

.day {
    cursor: pointer;
    line-height: 24px;
    width: 90px;
    height: 90px;
}

.empty_cell {
    width: 90px;
    height: 90px;
}

.calendar_head {
    padding: 10px 20px;
}

.month,
.year {
    color: #2a68c5;
    font-size: 1.5em;
    margin-right: 10px;
}

.month {
    margin-left: 10px;
}

.calendar_head button {
    border: none;
    background-color: #fff;
}

.calendar_head button:focus {
    outline: none;
}

.calendar_head .fas {
    color: #2a68c5;
}

.current_day {
    color: #2a68c5;
    font-weight: bold;
    outline-color: #2a68c5;
}

td.current_day hr {
    background-color: #2a68c5;
    height: 2px;
    margin: 0;
    padding: 0;
}

td.current_day {
    padding-top: 0;
}

/******Calendar-sidebar******************/
.calendar-sidebar {
    background-color: #2a68c5;
    padding-top: 10px;
    height: 100vh;
    width: 20%;
    margin-right: 10px;
    flex-basis: 20%;
}

.calendar-sidebar ul {
    list-style: none;
    padding-left: 8px;
    padding-top: 30px;
}

.calendar-sidebar ul li {
    margin-bottom: 8px;
}

.calendar-sidebar .toggle, .add-event {
    background-color: #2a68c5;
    margin-right: 8px;
    border: none;
    color: rgb(252, 248, 248);
    opacity: 0.9;
    transition: all .5s;
}

.calendar-sidebar .add-event .fa-plus {
    margin-right: 8px;
}

.calendar-sidebar .toggle:focus, .add-event:focus {
    outline: none;
}

.calendar-sidebar .toggle:hover, .add-event:hover {
    background-color: rgba(70, 123, 202, 0.8);
    opacity: 1;
}

.calendar-sidebar .brand {
    color: rgb(252, 248, 248);
}

.calendar-sidebar .fa-bars, .fa-plus {
    color: rgb(252, 248, 248);
}
